/*--------------------------------------------------------------
** All Variable
----------------------------------------------------------------*/
:root {
  --white-color: #fff;
  --heading-color: #191919;
  --body-color: #555;
  --accent-color: #4baf47;
  --dark-blue-color: #046d3a;
  --gray-color: #f4f3ef;
  --border-color: #d9d9d9;
  --heading-font: 'Encode Sans Condensed', serif;
  --body-font: 'Roboto', sans-serif;
}
